body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header a:hover {
  color: #fff;
  opacity: 1;
}
.header a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.header .container_header {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.header .container_header .navbar {
  background-color: transparent;
}
.header .container_header .navbar .brand_company {
  margin: 25px;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  opacity: 1;
  display: inline-block;
  white-space: nowrap;
}
.header .container_header .navbar .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.header .container_header .navbar .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.header .container_header .navbar .item-navbar .navbar-nav {
  display: flex !important;
  flex-grow: 1;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  justify-content: center !important;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item {
  transition: all 0.5s ease;
  position: relative;
  padding: 0 10px;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}
.header .container_header .navbar .item-navbar .dropdown-menu {
  transform: translateX(-50px);
  background: #151421;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.header .container_header .navbar .item-navbar .dropdown-menu .dropdown-item {
  font-size: 15px;
  color: #eee;
  background: none;
  opacity: 0.8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}
.header .container_header .navbar .btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.image-text-center {
  text-align: center !important;
}
.image-text-center .container-image-text {
  background: url("../image/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  position: relative;
  z-index: 0;
  text-align: center !important;
}
.image-text-center .container-image-text .container-text-center {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center !important;
}
.image-text-center .container-image-text .container-text-center .title-page {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.image-text-center .container-image-text .container-text-center .content-title-page {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}
.image-text-center .container-image-text .over-layout {
  background: rgba(29, 42, 55, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer a:hover {
  color: #fff;
  opacity: 1;
}
.footer a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.footer .footer_embrace .footer_container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer .footer_embrace .footer_container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .content_company {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  opacity: 1;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.footer .footer_embrace .footer_container .row .name_column {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
  letter-spacing: 0.5px;
}
.footer .footer_embrace .footer_container .row .column_contact_info .content_contact_info {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}
.footer .footer_embrace .footer_container .row ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer .copyright .copyright_container .content_copyright {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .copyright .copyright_container .content_copyright a {
  color: #009f4d;
}
.footer .copyright .copyright_container .content_copyright a:hover {
  color: #fff;
}