body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer a:hover {
  color: #fff;
  opacity: 1;
}
.footer a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.footer .footer_embrace .footer_container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer .footer_embrace .footer_container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .content_company {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  opacity: 1;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.footer .footer_embrace .footer_container .row .name_column {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
  letter-spacing: 0.5px;
}
.footer .footer_embrace .footer_container .row .column_contact_info .content_contact_info {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}
.footer .footer_embrace .footer_container .row ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer .copyright .copyright_container .content_copyright {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .copyright .copyright_container .content_copyright a {
  color: #009f4d;
}
.footer .copyright .copyright_container .content_copyright a:hover {
  color: #fff;
}