body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.header {
  background: url(../image/b1.jpg) no-repeat center;
  background-size: cover;
  padding: 0 0 100px;
  background-attachment: fixed;
  position: relative;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}
.header a:hover {
  color: #fff;
  opacity: 1;
}
.header a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.header .over-layout {
  background: rgba(29, 42, 55, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header .container_header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.header .container_header .navbar {
  background-color: transparent;
  border-bottom: 3px solid rgba(231, 231, 231, 0.18);
}
.header .container_header .navbar .brand_company {
  margin: 25px;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  opacity: 1;
  display: inline-block;
  white-space: nowrap;
}
.header .container_header .navbar .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.header .container_header .navbar .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.header .container_header .navbar .item-navbar .navbar-nav {
  display: flex !important;
  flex-grow: 1;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  justify-content: center !important;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item {
  transition: all 0.5s ease;
  position: relative;
  padding: 0 10px;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}
.header .container_header .navbar .item-navbar .dropdown-menu {
  transform: translateX(-50px);
  background: #151421;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.header .container_header .navbar .item-navbar .dropdown-menu .dropdown-item {
  font-size: 15px;
  color: #eee;
  background: none;
  opacity: 0.8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}
.header .container_header .navbar .btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.header .container-text-center {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center !important;
}
.header .container-text-center .title-page {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.header .container-text-center .content-title-page {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}