body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.header {
  background: #100f19;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header a:hover {
  color: #fff;
  opacity: 1;
}
.header a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.header .container_header {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.header .container_header .navbar {
  background-color: transparent;
}
.header .container_header .navbar .brand_company {
  margin: 25px;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  opacity: 1;
  display: inline-block;
  white-space: nowrap;
}
.header .container_header .navbar .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.header .container_header .navbar .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.header .container_header .navbar .item-navbar .navbar-nav {
  display: flex !important;
  flex-grow: 1;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  justify-content: center !important;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item {
  transition: all 0.5s ease;
  position: relative;
  padding: 0 10px;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}
.header .container_header .navbar .item-navbar .dropdown-menu {
  transform: translateX(-50px);
  background: #151421;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.header .container_header .navbar .item-navbar .dropdown-menu .dropdown-item {
  font-size: 15px;
  color: #eee;
  background: none;
  opacity: 0.8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}
.header .container_header .navbar .btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.image-text-center {
  text-align: center !important;
}
.image-text-center .container-image-text {
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  position: relative;
  z-index: 0;
  text-align: center !important;
  height: 400px;
}
.image-text-center .container-image-text .container-text-center {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center !important;
}
.image-text-center .container-image-text .container-text-center .title-page {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.image-text-center .container-image-text .container-text-center .content-title-page {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}
.image-text-center .container-image-text .over-layout {
  background: rgba(29, 42, 55, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wrap-sliders {
  height: auto;
  position: relative;
  overflow: hidden;
}
.wrap-sliders .carousel-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.wrap-sliders .carousel-slider .banner-slide {
  width: 100%;
  position: relative;
  min-height: 800px;
  padding-bottom: 100px;
  display: flex !important;
  align-items: center;
  z-index: 0;
}
.wrap-sliders .carousel-slider .banner-slide .banner-slide-container {
  position: relative;
  z-index: 12;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.wrap-sliders .carousel-slider .banner-slide .banner-slide-container .banner-slide-container-content {
  color: #ffffff;
}
.wrap-sliders .carousel-slider .banner-slide .banner-slide-container .banner-slide-container-content h1 {
  font-size: 55px;
  line-height: 1.1;
  margin-bottom: 18px;
  max-width: 800px;
  font-weight: 600;
}
.wrap-sliders .carousel-slider .banner-slide .banner-slide-container .banner-slide-container-content p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0.9;
}
.wrap-sliders .carousel-slider .banner-slide .banner-slide-container .banner-slide-container-content .div-btn {
  padding-top: 30px;
}
.wrap-sliders .carousel-slider .banner-slide .banner-slide-container .banner-slide-container-content .div-btn .btn-learn-more {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 8px;
  cursor: pointer !important;
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
.wrap-sliders .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.wrap-sliders .shape svg {
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.wrap-sliders .shape path {
  fill: #fff;
}

.over-layout {
  background: rgba(29, 42, 55, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer a:hover {
  color: #fff;
  opacity: 1;
}
.footer a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.footer .footer_embrace .footer_container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer .footer_embrace .footer_container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .content_company {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  opacity: 1;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.footer .footer_embrace .footer_container .row .name_column {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
  letter-spacing: 0.5px;
}
.footer .footer_embrace .footer_container .row .column_contact_info .content_contact_info {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}
.footer .footer_embrace .footer_container .row ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer .copyright .copyright_container .content_copyright {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .copyright .copyright_container .content_copyright a {
  color: #009f4d;
}
.footer .copyright .copyright_container .content_copyright a:hover {
  color: #fff;
}

a {
  text-decoration: none !important;
}

section {
  padding: 100px 0px;
}

.about-us-home {
  background: #ffffff;
}
.about-us-home .about-us-home-container .about-us-home-content {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.about-us-home .about-us-home-container .about-us-home-content .row {
  align-items: center !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.about-us-home .about-us-home-container .about-us-home-content .row .row-content .about-us-home-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #666;
  display: block;
  outline: none;
}
.about-us-home .about-us-home-container .about-us-home-content .row .row-content .about-us-home-catchphrase {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
.about-us-home .about-us-home-container .about-us-home-content .row .row-content p {
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
}
.about-us-home .about-us-home-container .about-us-home-content .row .row-content .list-url {
  margin: 0;
  padding: 0;
  list-style: disc;
}
.about-us-home .about-us-home-container .about-us-home-content .row .row-content .list-url .link-list {
  display: block;
  margin-bottom: 15px;
  list-style-type: none;
}
.about-us-home .about-us-home-container .about-us-home-content .row .row-content .list-url .link-list a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  position: relative;
  -webkit-transition: 0.5s all;
  cursor: pointer !important;
  background-color: transparent;
  text-decoration: none;
}
.about-us-home .about-us-home-container .about-us-home-content .row .row-content .list-url .link-list a span .fa {
  color: #009f4d;
  margin-right: 5px;
  opacity: 0.8;
}
.about-us-home .about-us-home-container .about-us-home-content .row .images-collection .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.about-us-home .about-us-home-container .about-us-home-content .row .images-collection .row img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}

.features-home {
  background: #f7f7f7;
}
.features-home .features-home-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.features-home .features-home-container .row {
  align-items: center !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.features-home .features-home-container .row .row-content-1 .features-home-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #666;
  display: block;
  outline: none;
}
.features-home .features-home-container .row .row-content-1 .features-home-catchphrase {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
.features-home .features-home-container .row .row-content-1 p {
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
}
.features-home .features-home-container .row .row-content-1 .btn-discover-more {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer !important;
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
  text-align: center;
  vertical-align: middle;
}
.features-home .features-home-container .row .row-content-2 .image-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.features-home .features-home-container .row .row-content-2 .image-collection .element {
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
}
.features-home .features-home-container .row .row-content-2 .image-collection .element .element-icon img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
  height: auto;
  border-style: none;
  vertical-align: middle;
}
.features-home .features-home-container .row .row-content-2 .image-collection .element h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #3f3a64;
}
.features-home .features-home-container .row .row-content-2 .image-collection .element h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #3f3a64;
  -webkit-transition: 0.5s all;
  cursor: pointer !important;
  background-color: transparent;
  text-decoration: none;
}

.service-home {
  background: #fff;
}
.service-home .service-home-block .service-home-block-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.service-home .service-home-block .service-home-block-container .service-home-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
.service-home .service-home-block .service-home-block-container .row {
  align-items: center !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.service-home .service-home-block .service-home-block-container .row .element .element-info .url-element-info {
  -webkit-transition: 0.5s all;
  cursor: pointer !important;
  background-color: transparent;
  text-decoration: none;
  color: #00a63f;
}
.service-home .service-home-block .service-home-block-container .row .element .element-info .url-element-info img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-style: none;
  vertical-align: middle;
}
.service-home .service-home-block .service-home-block-container .row .element .element-info .element-content {
  padding: 0 20px;
  position: relative;
  text-align: center !important;
}
.service-home .service-home-block .service-home-block-container .row .element .element-info .element-content a:hover {
  color: #009f4d;
}
.service-home .service-home-block .service-home-block-container .row .element .element-info .element-content .title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  text-align: center;
  background: #fff;
  padding: 12px 35px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8pc;
  transform: translateY(-25px);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  text-decoration: none;
}
.service-home .service-home-block .service-home-block-container .row .element .element-info .element-content .element-text {
  margin-top: -10px;
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
  text-align: center !important;
  margin: 0;
  padding: 0;
}
.service-home .service-home-block .service-home-block-container .row .element .element-info .bnt-learn-more {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
}

.subscribe {
  background-image: url(../image/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.subscribe .subscribe-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.subscribe .subscribe-container .subscribe-info {
  max-width: 700px;
  margin: 0 auto;
}
.subscribe .subscribe-container .subscribe-info .header-section .title {
  color: #fff;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
.subscribe .subscribe-container .subscribe-info .header-section .title-content {
  font-size: 17px;
  line-height: 27px;
  color: #eee;
  opacity: 0.8;
}
.subscribe .subscribe-container .subscribe-info .subscribe-form {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 550px;
  margin: auto;
}
.subscribe .subscribe-container .subscribe-info .subscribe-form .input-group-text {
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  display: flex;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
}
.subscribe .subscribe-container .subscribe-info .subscribe-form .input-group-text span {
  outline: none;
}
.subscribe .subscribe-container .subscribe-info .subscribe-form .input-group-text span .fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}
.subscribe .subscribe-container .subscribe-info .subscribe-form input {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  background: #fff;
  border-radius: 0;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.15);
  border-left: none;
}
.subscribe .subscribe-container .subscribe-info .subscribe-form .btn-subscribe {
  padding: 0 25px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer !important;
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}

.gallery-home {
  background: #f8f9fa;
}
.gallery-home .gallery-home-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.gallery-home .gallery-home-container .gallery-home-title .title {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}
.gallery-home .gallery-home-container .gallery-home-title .title-content {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
}
.gallery-home .gallery-home-container .main .element {
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
.gallery-home .gallery-home-container .main .element:hover .hover-content {
  transform: translateY(0);
  opacity: 1;
}
.gallery-home .gallery-home-container .main .element a {
  overflow: hidden;
}
.gallery-home .gallery-home-container .main .element a img {
  overflow: hidden;
  transition: all 1s;
}
.gallery-home .gallery-home-container .main .element a img:hover {
  transform: scale(1.1);
}
.gallery-home .gallery-home-container .main .element a .hover-content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  transform: translateY(100%);
  opacity: 0;
  transition: all 1s;
}
.gallery-home .gallery-home-container .main .element a .hover-content .title {
  display: block;
  font-size: 25px;
}
.gallery-home .gallery-home-container .main .element a .hover-content .content {
  display: block;
  font-size: 17px;
}

.progress-home .progress-home-content .progress-home-content-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.progress-home .progress-home-content .progress-home-content-container .progress-home-title {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}
.progress-home .progress-home-content .progress-home-content-container .progress-home-title-content {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info {
  margin-top: 30px;
  position: relative;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info h6 span {
  position: absolute;
  top: 0;
  right: 0;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress {
  height: 5px;
  overflow: hidden;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-1 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
  overflow: hidden;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-1::after {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 13px;
  width: 13px;
  border: 3px solid #61fded;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-1::before {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid #61fded;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
  overflow: hidden;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-2::after {
  content: "";
  position: absolute;
  right: 5%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 13px;
  width: 13px;
  border: 3px solid #eece90;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-2::before {
  content: "";
  position: absolute;
  right: 5%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid #eece90;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
  overflow: hidden;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-3::after {
  content: "";
  position: absolute;
  right: 40%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 13px;
  width: 13px;
  border: 3px solid #5c51ff;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-3::before {
  content: "";
  position: absolute;
  right: 40%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid #5c51ff;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
  overflow: hidden;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-4::after {
  content: "";
  position: absolute;
  right: 15%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 13px;
  width: 13px;
  border: 3px solid #e5529a;
}
.progress-home .progress-home-content .progress-home-content-container .progress-info .progress .element-4::before {
  content: "";
  position: absolute;
  right: 15%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid #e5529a;
}

.testimonials .container .title-small {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}
.testimonials .container .title-big {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
}
.testimonials .container .swiper {
  max-width: 1000px;
  text-align: center;
}
.testimonials .container .swiper .swiper-wrapper {
  margin-bottom: 100px;
}
.testimonials .container .swiper .swiper-wrapper .swiper-slide .item .testimonial-content .testimonial q {
  font-size: 18px;
  line-height: 28px;
  color: gray;
  opacity: 0.8;
}
.testimonials .container .swiper .swiper-wrapper .swiper-slide .item .testimonial-content .testimonial .testi-des {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .container .swiper .swiper-wrapper .swiper-slide .item .testimonial-content .testimonial .testi-des .test-img img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background-image: top;
}
.testimonials .container .swiper .swiper-wrapper .swiper-slide .item .testimonial-content .testimonial .testi-des .peopl {
  margin-left: 20px;
}
.testimonials .container .swiper .swiper-wrapper .swiper-slide .item .testimonial-content .testimonial .testi-des .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: #3f3a64;
  text-align: left;
}
.testimonials .container .swiper .swiper-wrapper .swiper-slide .item .testimonial-content .testimonial .testi-des .peopl p {
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
  color: gray;
  text-align: left;
}
.testimonials .container .swiper .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #3f3a64;
  font-size: 50px;
  width: 15px;
  height: 15px;
  opacity: 1;
}
.testimonials .container .swiper .swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.testimonials .container .swiper .swiper-pagination span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #3f3a64;
  transition: all 1s;
  opacity: 0.5;
}