body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header a:hover {
  color: #fff;
  opacity: 1;
}
.header a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.header .container_header {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.header .container_header .navbar {
  background-color: transparent;
}
.header .container_header .navbar .brand_company {
  margin: 25px;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  opacity: 1;
  display: inline-block;
  white-space: nowrap;
}
.header .container_header .navbar .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.header .container_header .navbar .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.header .container_header .navbar .item-navbar .navbar-nav {
  display: flex !important;
  flex-grow: 1;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  justify-content: center !important;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item {
  transition: all 0.5s ease;
  position: relative;
  padding: 0 10px;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}
.header .container_header .navbar .item-navbar .dropdown-menu {
  transform: translateX(-50px);
  background: #151421;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.header .container_header .navbar .item-navbar .dropdown-menu .dropdown-item {
  font-size: 15px;
  color: #eee;
  background: none;
  opacity: 0.8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}
.header .container_header .navbar .btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.image-text-center {
  text-align: center !important;
}
.image-text-center .container-image-text {
  background: url("../image/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  position: relative;
  z-index: 0;
  text-align: center !important;
  height: 400px;
}
.image-text-center .container-image-text .container-text-center {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center !important;
}
.image-text-center .container-image-text .container-text-center .title-page {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.image-text-center .container-image-text .container-text-center .content-title-page {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}
.image-text-center .container-image-text .over-layout {
  background: rgba(29, 42, 55, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer a:hover {
  color: #fff;
  opacity: 1;
}
.footer a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.footer .footer_embrace .footer_container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer .footer_embrace .footer_container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .content_company {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  opacity: 1;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.footer .footer_embrace .footer_container .row .name_column {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
  letter-spacing: 0.5px;
}
.footer .footer_embrace .footer_container .row .column_contact_info .content_contact_info {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}
.footer .footer_embrace .footer_container .row ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer .copyright .copyright_container .content_copyright {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .copyright .copyright_container .content_copyright a {
  color: #009f4d;
}
.footer .copyright .copyright_container .content_copyright a:hover {
  color: #fff;
}

a {
  text-decoration: none !important;
}

section {
  padding: 100px 0px;
}

.Services {
  background: #f7f7f7;
}
.Services .container .text-heading {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
}
.Services .container .text-page {
  line-height: 45px;
  font-size: 35px;
  font-weight: 600;
  color: #3f3a64;
}
@media screen and (max-width: 468px) {
  .Services .container .text-page {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
  }
}
.Services .container .list .item .img-services {
  width: 100%;
  height: 100%;
  display: block !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.Services .container .list .item .item-content {
  height: 100%;
  padding: 50px;
}
.Services .container .list .item .item-content .text-img h1 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 600;
  color: #3f3a64;
}
@media screen and (max-width: 468px) {
  .Services .container .list .item .item-content .text-img h1 {
    font-size: 24px;
  }
}
.Services .container .list .item .item-content .text-img p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  color: #7e7d7d;
}
.Services .container .list .item .item-content .text-button {
  margin-top: 40px;
}
.Services .container .list .item .item-content .text-button button {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #009f4d;
  padding: 15px 50px;
  border: 1px solid #009f4d;
  border-radius: 8px;
}
.Services .container .list .item .item-content .text-button button:hover {
  background: #00732c;
  color: white;
}

.solutions .container .text-heading {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
}
.solutions .container .text-page {
  line-height: 45px;
  font-size: 35px;
  font-weight: 600;
  color: #3f3a64;
}
@media screen and (max-width: 468px) {
  .solutions .container .text-page {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
  }
}
.solutions .container .list .item .item-content {
  background: #f8f9fa;
  display: flex;
  height: 100%;
  padding: 40px;
}
.solutions .container .list .item .item-content .icon {
  width: 20%;
}
.solutions .container .list .item .item-content .icon i {
  font-size: 30px !important;
  display: block;
  color: #009f4d;
}
.solutions .container .list .item .item-content .text {
  width: 80%;
}
.solutions .container .list .item .item-content .text h1 {
  font-size: 22px;
  font-weight: 600;
  color: #009f4d;
}
.solutions .container .list .item .item-content .text p {
  font-size: 17px;
  font-weight: 0;
  color: #7e7d7d;
}

.contact {
  background-image: url("../image/bg1.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contact::before {
  content: "";
  background: rgba(29, 45, 55, 0.7);
  background-attachment: scroll;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}
.contact .container .content .contact-left {
  z-index: 99;
  padding: 30px;
}
.contact .container .content .contact-left h3 {
  font-size: 14px !important;
  letter-spacing: 1px;
}
.contact .container .content .contact-left h2 {
  font-size: 35px;
}
@media screen and (max-width: 468px) {
  .contact .container .content .contact-left h2 {
    font-size: 26px;
  }
}
.contact .container .content .contact-left .contact-sol {
  margin-top: 20px;
  padding: 20px 0px;
  display: flex;
}
.contact .container .content .contact-left .contact-sol i {
  width: 10%;
  font-size: 40px;
}
.contact .container .content .contact-left .contact-sol .text {
  width: 90%;
}
.contact .container .content .contact-left .contact-sol .text h1 {
  font-size: 20px;
}
.contact .container .content .contact-left .contact-sol .text p {
  font-size: 18px;
}
.contact .container .content .contact-right {
  background: white;
  border-radius: 10px;
  z-index: 99;
  padding: 30px;
}
.contact .container .content .contact-right form {
  padding: 60px 40px;
}
.contact .container .content .contact-right form h1 {
  font-size: 35px;
  font-weight: 600;
  color: #3f3a64;
}
@media screen and (max-width: 468px) {
  .contact .container .content .contact-right form h1 {
    font-size: 26px;
  }
}
.contact .container .content .contact-right form p {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
}
.contact .container .content .contact-right form input[type=text] {
  margin-bottom: 20px;
  background: #f8f9fa;
  text-transform: capitalize;
  height: 60px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
  padding: 12px 25px;
  box-shadow: none;
}
.contact .container .content .contact-right form textarea {
  background: #f8f9fa;
  text-transform: capitalize;
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
  padding: 12px 25px;
  box-shadow: none;
}
.contact .container .content .contact-right form .button {
  margin-top: 50px;
}
.contact .container .content .contact-right form .button button {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #009f4d;
  padding: 15px 50px;
  border: 1px solid #009f4d;
  border-radius: 8px;
}
.contact .container .content .contact-right form .button button:hover {
  background: #00732c;
  color: white;
}
@media screen and (max-width: 468px) {
  .contact .container .content .contact-right form .button button {
    width: 100%;
  }
}

.identities {
  background: #f8f9fa;
}
.identities .container .text-heading {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
}
.identities .container .text-page {
  font-size: 35px;
  font-weight: 600;
  color: #3f3a64;
}
@media screen and (max-width: 468px) {
  .identities .container .text-page {
    font-size: 26px;
  }
}
.identities .container .list {
  padding: 70px 0px;
}
.identities .container .list .item .item-content {
  transition: all 1s;
  border-radius: 8px;
  text-align: center;
  padding: 50px;
  background: white;
  height: 100%;
}
.identities .container .list .item .item-content:hover {
  transform: translateY(-10px);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.identities .container .list .item .item-content p:last-child {
  font-size: 17px;
  font-weight: 600;
  color: #7e7d7d;
}
.identities .container .list .item .item-content p a {
  font-size: 22px;
  font-weight: 600;
  color: #3f3a64;
}
@media screen and (max-width: 468px) {
  .identities .container .list .item .item-content p a {
    font-size: 18px;
  }
}