// Base
@import '../scss/_base.scss';

// Header and Footer Style
@import '../scss/header.scss';

@import '../scss/footer.scss';
// Header and Footer Style End

// Main Style
$text-c1-primary:#009f4d;
.main-page-not-found {
    // position: absolute;

    .page-not-found {
        background: #100f19;

        .container-page-not-found {
            max-width: 1200px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            .content-page-not-found {

                img {
                    max-width: 80%;
                }

                .title-and-search {
                    flex: 0 0 50%;
                    max-width: 50%;

                    .pnf-text {
                        font-size: 120px;
                        line-height: 1;
                        text-align: center;
                        flex-basis: 100%;
                        color: $text-c1-primary;
                        display: inline-block;
                        font-weight: 700;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                    }

                    .pnf-content {
                        font-size: 26px;
                        font-weight: 600;
                        text-transform: capitalize;
                        line-height: 36px;
                        margin: 16px 0 18px 0;
                        padding: 0;
                        color: #eee;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 17px;
                        line-height: 27px;
                        color: #c2c2c2;
                        opacity: .8;
                    }

                    .search-form {
                        position: relative;
                        .input-search {
                            width: 100%;
                            color: #c2c2c2;
                            background: #151421;
                            padding: 12px 70px 12px 17px;
                            font-size: 18px;
                            height: 55px;
                            border: 1px solid rgba(255, 255, 255, 0.1);
                            font-style: italic;
                            display: block;
                            border-radius: 3px;
                            font-weight: 400;
                            line-height: 1.5;
                        }

                        .btn-search {
                            color: #fff;
                            font-size: 16px;
                            width: 60px;
                            letter-spacing: 0px;
                            border: none;
                            position: absolute;
                            top: 1px;
                            right: 1px;
                            bottom: 1px;
                            display: inline-block;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                            background: $text-c1-primary;
                            cursor: pointer !important;
                            text-align: center;
                            font-weight: 400;
                        }
                    }

                    .btn-go-back-home {
                        font-weight: 600;
                        font-size: 18px;
                        color: #eee;
                        cursor: pointer !important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
// Main Style End