body {
    padding: 0.5;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

ul {
    list-style: none;
    padding: 0 !important;
  }

  
  $text-c1-gray: #7e7d7d;
$text-c1-primary: #3f3a64;
$text--c1-green: #009f4d;


