// Base
@import '../scss/_base.scss';

// Header and Footer Style
@import '../scss/header.scss';

@import '../scss/footer.scss';
// Header and Footer Style End

.blog-posts {
    background: #151421;

    .blog-posts-container {
        .article-container {
            max-width: 960px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;


                .item {
                    max-width: 100%;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-top: 20px;

                    .article-item {
                        .card {
                            background: none;
                            box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            min-width: 0;
                            word-wrap: break-word;

                            a {
                                cursor: pointer !important;
                                background-color: transparent;
                                color: #00a63f;
                                text-decoration: none;
                                -webkit-transition: 0.5s all;
                            }

                            img {
                                max-width: 100%;
                                height: auto;
                                border-style: none;
                                vertical-align: middle;
                            }

                            .card-header {
                                .zoom {
                                    overflow: hidden;
                                    border-top-left-radius: 6px;
                                    border-top-right-radius: 6px;

                                    .inner-a {
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                        overflow: hidden;
                                        border-radius: 8px;
                                        border-bottom-right-radius: 0;
                                        border-bottom-left-radius: 0;

                                        .image-item {
                                            width: 100%;
                                            min-height: 100%;
                                            -o-object-fit: cover;
                                            object-fit: cover;
                                            -o-object-position: center;
                                            object-position: center;
                                            display: block;
                                            transition: 0.3s ease-in-out;
                                            border-radius: 8px;
                                            border-bottom-right-radius: 0;
                                            border-bottom-left-radius: 0;
                                        }
                                    }
                                }
                            }

                            .card-body {
                                flex: 1 1 auto;
                                min-height: 1px;

                                .card-body-content {
                                    p {
                                        a {
                                            font-weight: 400;
                                            font-size: 17px;
                                            color: #999;
                                            margin: 0;
                                            padding: 0;
                                            line-height: 27px;
                                            opacity: .8;
                                        }
                                    }
                                }

                                .link-below {
                                    display: block;
                                    font-size: 20px;
                                    line-height: 28px;
                                    font-weight: 600;
                                    color: #eee;
                                    margin-top: 10px;
                                }
                            }

                            .card-footer {
                                background: #151421;
                                border-top: 1px solid rgba(255, 255, 255, 0.1);

                                .author {
                                    display: grid;
                                    grid-template-columns: auto 1fr auto;
                                    grid-gap: 10px;

                                    .author-link {
                                        overflow: hidden;
                                        border-radius: 50%;
                                        display: block;
                                        width: 40px;
                                        height: 40px;

                                        img {
                                            border-radius: 50% !important;
                                        }
                                    }

                                    ul {
                                        margin: 0;
                                        padding: 0;
                                        list-style: disc;

                                        li {
                                            list-style-type: none;

                                            span {
                                                color: #c2c2c2;
                                                font-size: 15px;
                                                font-weight: 600;
                                                opacity: .6;

                                            }

                                            a {
                                                font-size: 16px;
                                                color: #eee;
                                                font-weight: 600;
                                                line-height: 26px;
                                                text-transform: capitalize;
                                            }
                                        }
                                    }

                                    .date {
                                        p {
                                            font-size: 15px;
                                            margin: 0;
                                            padding: 0;
                                            line-height: 27px;
                                            color: #c2c2c2;
                                            opacity: .8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                .pages {
                    margin: 0;
                    padding: 0;
                    list-style: disc;

                    span {
                        .page-numbers {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 36px;
                            font-weight: 600;
                            background-color: $text-c1-primary;
                            color: #fff;
                            border: 2px solid $text-c1-primary;
                            -webkit-appearance: none;
                            outline: none;
                        }
                    }
                    
                    li {
                        list-style-type: none;
                        outline: none;

                        a {
                            .page-numbers {
                                display: inline-block;
                                color: #c2c2c2;
                                width: 40px;
                                height: 40px;
                                text-align: center;
                                line-height: 36px;
                                font-weight: 600;
                                border: 2px solid rgba(255, 255, 255, 0.1);

                            }
                        }
                    }
                }
            }
        }
    }
}