body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.header {
  background: #100f19;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header a:hover {
  color: #fff;
  opacity: 1;
}
.header a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.header .container_header {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.header .container_header .navbar {
  background-color: transparent;
}
.header .container_header .navbar .brand_company {
  margin: 25px;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  opacity: 1;
  display: inline-block;
  white-space: nowrap;
}
.header .container_header .navbar .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.header .container_header .navbar .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.header .container_header .navbar .item-navbar .navbar-nav {
  display: flex !important;
  flex-grow: 1;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  justify-content: center !important;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item {
  transition: all 0.5s ease;
  position: relative;
  padding: 0 10px;
}
.header .container_header .navbar .item-navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}
.header .container_header .navbar .item-navbar .dropdown-menu {
  transform: translateX(-50px);
  background: #151421;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.header .container_header .navbar .item-navbar .dropdown-menu .dropdown-item {
  font-size: 15px;
  color: #eee;
  background: none;
  opacity: 0.8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}
.header .container_header .navbar .btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

section.image-text-center {
  text-align: center !important;
  padding-bottom: 0;
}
section.image-text-center .container-image-text {
  background: url("../image/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  position: relative;
  z-index: 0;
  text-align: center !important;
  height: 400px;
}
section.image-text-center .container-image-text .container-text-center {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center !important;
}
section.image-text-center .container-image-text .container-text-center .title-page {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
section.image-text-center .container-image-text .container-text-center .content-title-page {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}
section.image-text-center .container-image-text .over-layout {
  background: rgba(29, 42, 55, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer a:hover {
  color: #fff;
  opacity: 1;
}
.footer a {
  background-color: transparent;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}
.footer .footer_embrace .footer_container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer .footer_embrace .footer_container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .content_company {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  opacity: 1;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company .logo {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
.footer .footer_embrace .footer_container .row .column_corp_vision .footer_logo .brand_company span.content_logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}
.footer .footer_embrace .footer_container .row .name_column {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
  letter-spacing: 0.5px;
}
.footer .footer_embrace .footer_container .row .column_contact_info .content_contact_info {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .footer_embrace .footer_container .row ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}
.footer .footer_embrace .footer_container .row ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer .copyright .copyright_container .content_copyright {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: block;
}
.footer .copyright .copyright_container .content_copyright a {
  color: #009f4d;
}
.footer .copyright .copyright_container .content_copyright a:hover {
  color: #fff;
}

a {
  text-decoration: none !important;
}

section {
  padding: 100px 0px;
}

.Element .container .Element-content .titel {
  font-size: 24px;
  font-weight: 600;
  color: #3f3a64;
}
.Element .container .Element-content #btn {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #009f4d;
  padding: 15px 50px;
  border: 1px solid #009f4d;
  border-radius: 8px;
}
.Element .container .Element-content #btn:hover {
  background: #00732c;
  color: white;
}
.Element .container .Element-content #btn1 {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #009f4d;
  padding: 6px 12px;
  border: 1px solid #009f4d;
  border-radius: 8px;
}
.Element .container .Element-content #btn1:hover {
  background: #00732c;
  color: white;
}
.Element .container .Element-content #btn2 {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #7e7d7d;
  padding: 5px 10px;
  border: 1px solid #7e7d7d;
  border-radius: 8px;
}
.Element .container .Element-content #btn2:hover {
  background: #009f4d;
  color: white;
}
.Element .container .Element-content #btn3 {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #3f3a64;
  padding: 6px 12px;
  border: 1px solid #3f3a64;
  border-radius: 8px;
}
.Element .container .Element-content #btn3:hover {
  background: #3f3a64;
  color: white;
}
.Element .container .Element-content .alert {
  font-size: 14px;
  margin-top: 10px;
}
.Element .container .Element-content .text {
  padding: 64px 32px;
  background: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 32px;
}
.Element .container .Element-content .text h1 {
  color: #3f3a64;
}
.Element .container .Element-content .text p {
  color: #7e7d7d;
  font-weight: 400;
}
.Element .container .Element-content .text #btn {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #009f4d;
  padding: 15px 50px;
  border: 1px solid #009f4d;
  border-radius: 8px;
}
.Element .container .Element-content .text #btn:hover {
  background: #00732c;
  color: white;
}
.Element .container .Element-content .text #btn1 {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #009f4d;
  padding: 6px 12px;
  border: 1px solid #009f4d;
  border-radius: 8px;
}
.Element .container .Element-content .text #btn1:hover {
  background: #00732c;
  color: white;
}
.Element .container .Element-content .text #btn2 {
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #7e7d7d;
  padding: 6px 12px;
  border: 1px solid #7e7d7d;
  border-radius: 8px;
}
.Element .container .Element-content .text #btn2:hover {
  background: #009f4d;
  color: white;
}
.Element .container .Element-content .text1 {
  padding: 12px 16px;
  background: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 32px;
}
.Element .container .Element-content form .form-group label {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}
.Element .container .Element-content form .form-group input {
  margin-top: 12px;
  transform: all 0.5s;
}
.Element .container .Element-content form .form-group input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 166, 63, 0.25);
  border-color: #27ff79;
}
.Element .container .Element-content form .form-group small {
  font-size: 10px;
  font-weight: normal;
}
.Element .container .Element-content form button {
  margin-bottom: 10px;
}
.Element .container .Element-content .input-group input:focus, .Element .container .Element-content .input-group textarea:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 166, 63, 0.25);
  border-color: #27ff79;
}
.Element .container .Element-content .input-group .input-group-prepend #basic-addon1, .Element .container .Element-content .input-group .input-group-prepend #basic-addon3, .Element .container .Element-content .input-group .input-group-prepend .input-group-text {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Element .container .Element-content .input-group .input-group-prepend .input-group-text.text-form {
  height: 100%;
}
.Element .container .Element-content .input-group .input-group-append #basic-addon2, .Element .container .Element-content .input-group .input-group-append .input-group-text {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8;
  border-bottom-right-radius: 8;
}
.Element .container .Element-content .code {
  margin-bottom: 25px;
  padding: 64px 32px;
  background: #f8f9fa;
  border-radius: 8px;
}
.Element .container .Element-content .code pre code {
  color: #7e7d7d;
  font-size: 16px !important;
  font-weight: 300 !important;
}
.Element .container .Element-content .code pre code span,
.Element .container .Element-content .code pre code a {
  font-size: 16px !important;
}
.Element .container .Element-content .media h5 {
  font-size: 20px;
  font-weight: 600;
  color: #3f3a64;
}