// text
$text-c1-primary:#009f4d;

body {
    padding: 0.5;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.footer {

    // format sundries
    a:hover {
        color: #fff;
        opacity: 1;
    }

    a {
        background-color: transparent;
        cursor: pointer !important;
        text-decoration: none;
        font-size: 18px;
        line-height: 28px;
        color: #97a1a9;
        opacity: .8;
    }

    .py-5 {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }

    .py-md-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }


    // format general footer
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);

    // format content of footer
    .footer_embrace {
        // format general embrace
        margin-top: 25px;
        position: relative;

        .footer_container {
            // format general footer_container
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            .row {

                // element 1
                .column_corp_vision {

                    .content_company {
                        font-size: 18px;
                        line-height: 28px;
                        color: #97a1a9;
                        margin: 0;
                        padding: 0;
                        opacity: .8;
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }

                    .footer_logo {
                        .brand_company {
                            margin: 0;
                            padding: 0;
                            font-size: 30px;
                            font-weight: 600;
                            text-transform: capitalize;
                            color: #fff;
                            opacity: 1;


                            .logo {
                                color: $text-c1-primary;
                                margin-right: 5px;
                                vertical-align: bottom;
                            }

                            span.content_logo {
                                text-transform: none;
                                display: block;
                                font-size: 14px;
                                padding-left: 46px;
                                font-weight: 600;
                                opacity: .9;
                            }
                        }
                    }
                }

                // format name_column in all columns
                .name_column {
                    font-size: 22px;
                    line-height: 28px;
                    margin-bottom: 25px;
                    font-weight: 400;
                    position: relative;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                }

                // element 2
                .column_contact_info {
                    .content_contact_info {
                        font-size: 18px;
                        line-height: 28px;
                        color: #97a1a9;
                        margin: 0;
                        padding: 0;
                        opacity: .8;
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                }

                // element 3
                .column_categories {}

                // element 4
                .column_meta {}
            }

        }
    }

    .copyright {
        // format general copyright
        padding: 1.5em 0;
        border-top: 1px solid rgba(249, 249, 249, 0.1);

        .copyright_container {
            .content_copyright {

                font-size: 18px;
                line-height: 28px;
                color: #97a1a9;
                margin: 0;
                padding: 0;
                opacity: .8;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;

                a {
                    color: $text-c1-primary;
                }

                a:hover {
                    color: #fff;
                }
            }
        }

    }
}